  *{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  .container{
    box-sizing: border-box;
	  height: 90vh;
	  width: 90%;
	  margin: 0 auto;
	  padding: 1.5rem;
    position: relative;
	  
  }
  .wrapper{
  	position: absolute;
	top: -55px;
	left: -5.6%;
	width: 100vw;
	height: 100vh;
	background: rgba(65, 63, 63, 0.884);
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
  .form {
    cursor: auto;
    padding: 2rem;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    width: 500px;
    border-radius: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .button {
    width: 300px;
    cursor: pointer;
}